<div class='row'>
	<div class='large-12 columns'>
		<h1>{{quiz.name}}.</h1>
	</div>
</div>
<div class='row'>
	<div class='large-12 columns'>
		<h3 class='panel'>Put a graph of quiz activity here, and stats and stuff.</h3>
	</div>
</div>
<div class='row'>
	<div class='large-12 columns'>
		<table style='width:100%;'>
			<thead>
				<tr>
					<th>Submitted by</th>
					<th data-ng-show='quiz.type == "poll" || quiz.type == "Poll"'>Score</th>
					<th>Date submitted</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat='r in responses | limitTo:1000'>
					<table>
						<tr>
							<td>
								<a ui-sref='viewResults({email:r.email, id:quiz._id, responseId: r._id})'>{{r.email}}</a> 
							</td>
							<td data-ng-show='quiz.type == "poll" || quiz.type == "Poll"'>
								{{r.percentage * 100 | number:2}}%
							</td>
							<td>
								{{r.submitted | date:'MM/dd/yy, h:mma'}}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span>{{r.answers[1].response}}</span> 
							</td>
						</tr>
					</table>
				</tr>
				<tr data-ng-repeat='r in responses | limitTo:1000'>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>