<div class='row' ng-show='quiz'>
	<h1>{{quiz.name}}</h1>
	<h3>Responses by: {{email}}</h3>
	<h5>{{response.submitted | date:'h:mma, EEE MMM d, yyyy'}}</h5>
	<hr/>
</div>
<div class='row panel'>
	<div class='large-12 columns' >
		<div class='row' ng-repeat='answer in response.answers'>
			<div class='large-10 columns'>
				<div class='row'>
					<div class='large-12 columns'>
						{{answer.text}}
					</div>
					<div class='large-12 columns'>
						{{answer.response}}
					</div>
				</div>
			</div>
			<div class='large-2 columns' ng-show='answer.isCorrect'>
				RIGHT
			</div>
			<div class='large-2 columns' ng-show='!answer.isCorrect'>
				WRONG
			</div>
			<div class='large-12 columns'>
				<hr/>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='large-2 columns'>
		<h4>
			<a title='Mark this response as reviewed.  This means you have finished grading it or whatever.' class='button success radius'>
				Reviewed
			</a>
		</h4>
	</div>
</div>