<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inquizitor - Some kind of tagline.</title>

    <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." />
    
    <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com" />
    <meta name="copyright" content="ZURB, inc. Copyright (c) 2013" />

    <link rel='stylesheet' href='/vendor/foundation/css/normalize.css' />
    <link rel='stylesheet' href='/vendor/foundation/css/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/stylish.css' />
  </head>
  <body ng-app='app' ng-controller='SignupCtrl'>
    
<!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Inquizitor
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <ul class='right'>
        <li class="divider"></li>
        <li><a href='about'>About</a></li>
        <li class="divider"></li>
        <li><a href='support'>Support</a></li>
        <li class="divider"></li>
        <li><a href="signup">Sign up</a></li>
        <li class="divider"></li>
        <li><a href='login'>Log in</a></li>
        <li ng-show="user.email" class="divider"></li>
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->

  <div class="row">
    <div class="large-12 columns">
 
    <!-- Content Slider -->
    <!-- Hide Slider... 
      <div class="row">
        <div class="large-12 hide-for-small">
 
          <div id="featured" data-orbit>
              <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
            </div>
 
      </div>
    </div>
    -->
    <!-- End Content Slider -->
 
    <!-- Mobile Header -->
 
      <div class="row">
        <div class="large-12 columns show-for-small">
 
          <img src="http://placehold.it/1200x700&text=Mobile Header">
 
        </div>
      </div><br>
 
    <!-- End Mobile Header -->
 
      
      <div class="row">
        <div class="large-12 columns">
          <h1>Sign Up</h1>
          <h4>All we need from you is an email and a password.</h4>
          <% if(status == 'failure'){ %>
            <div class='label alert'>
              <h4><%= message %></h4>
            </div>
          <% } %>

          <form id='loginform' name='loginform' method='POST' action='/signup' novalidate>
            <label>
              <span>email</span>
              <input ng-model='email' type='email' id='email' name='email' placeholder='email@address.com' required />
            </label>
            <label>
              <span>password</span>
              <input ng-model='pass' type='password' id='pass' name='pass' placeholder='Choose something good' ng-minlength='5' ng-maxlength='25' required />
            </label>
            <label>
              <span>confirm password</span>
              <input ng-model='confirmpass' type='password' id='confirmpass' name='confirmpass' placeholder='Make sure you typed what you think you typed...' ng-minlength='5' ng-maxlength='25' required data-match='pass' />
            </label>
          <div class='row'>
            <div class='large-6 columns'>
              <input type='submit' ng-disabled='!loginform.$valid' class='button success' value='Sign me up!' />
            </div>
            <div class='large-6 columns'>
              
            </div>
          </div>
          </form>

        </div>
      </div> 
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="./javascripts/supersimple.js"></script>
</body>
</html>