<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en"  data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inquizitor - Some kind of tagline.</title>

    <meta name="description" content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." />
    
    <meta name="author" content="ZURB, inc. ZURB network also includes zurb.com" />
    <meta name="copyright" content="ZURB, inc. Copyright (c) 2013" />

    <link rel='stylesheet' href='/vendor/foundation/css/normalize.css' />
    <link rel='stylesheet' href='/vendor/foundation/css/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/stylish.css' />
  </head>
  <body>
  	<div class='row quiz_heading'>
  		<div class='large-12 medium-12 small-12 columns'>
  			<h1 style='font-weight:bold;'><%= quiz.name %></h1>
  			<h2><%- quiz.description %></h2>
  			<hr/>
  		</div>
  	</div>
  	<div class='row quiz_questions'>
  	<!-- Repeat for questions -->

  	<% for(var i=0; i<quiz.questions.length; i++) { %>
  		<div class='large-12 medium-12 small-12 columns'>
  			<div class='row'>
  				<div class='large-12 medium-12 small-12 columns'>
		  			<h4 style='font-weight:bold;'>
		  				<%= quiz.questions[i].text %>
		  			</h4>
		  		</div>
	  		</div>
	  		<div class='row'>
  				<div class='large-12 medium-12 small-12 columns'>
		  			<input type='text'>
		  		</div>
	  		</div>
  			<hr/>
  		</div>
  	<% } %>

  	<!-- End questions loop -->
  	</div>
  	
  </body>
</html>