body{
	overflow-x:hidden;
}
#quiz-form h3{
	text-align:center;
	border-bottom:thin dotted black;
}
.category-choice{
	text-align:center;
}
label{
	margin-bottom:0px;
}

.plus-icon{
	font-size:2em;
	vertical-align:middle;
	color:green;
}
.icon-text{
	vertical-align:middle;
	margin-left:.5em;
}
.quiz_contents h1{
	display: none;
}

/*.enter-question{
	border:solid black;
	background:lightGray;
	padding:10px;
	margin-top:1em;
	margin-bottom:1em;
}*/

.oneline{
	height:1.15em;
	overflow:hidden;
	text-overflow:ellipsis;
	
}

.side-nav .button{
	/*color:white;*/
	color:#fff;
}
.side-nav .main{
	color:#000;
}

.red{
	color:#f00;
}
.row #quizform .columns .greenback{
	/* what a terrible hack */
	background:#43ac6a;
}
.row #quizform .columns .alertback{
	background:#f04124;
	color:#fff;
}

.gray{
	color:lightGray;
}

 .showvalidation input.ng-invalid,  .showvalidation textarea.ng-invalid,  .showvalidation select.ng-invalid {
  border: 1px solid red;
}
 .showvalidation input.ng-pristine,  .showvalidation textarea.ng-pristine,  .showvalidation select.ng-pristine {
	border: 1px solid #ccc;
}